/* Martel Sans from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap");

:root {
	--font-family: "Martel Sans", sans-serif;
	--light-red: rgba(255, 0, 0, 0.3);
	--light-black: rgba(0, 0, 0, 0.3);
	--light-grey: rgba(0, 0, 0, 0.1);
	--light-green: rgba(0, 255, 0, 0.3);
	--white: rgba(255, 255, 255, 1);
	--background-for-card-area: #f6f6f6;
	--background-for-header-area: #42b983;
	--font-color-header-caption: #d6ffec;
	--background-for-footer-area: #304455;
	--vue-red: #f66;
	--vue-orange: #ffa500;
	--border-for-bubble: rgba(93, 143, 186, 0.8);
	--background-for-bubble: rgba(93, 143, 186, 0.03);
	--border-for-insertion: rgba(186, 136, 93, 0.8);
	--background-for-insertion: rgba(186, 136, 93, 0.03);
	--border-for-selection: rgba(97, 186, 93, 0.8);
	--background-for-selection: rgba(97, 186, 93, 0.03);
	--border-for-shell: rgba(183, 93, 186, 0.8);
	--background-for-shell: rgba(183, 93, 186, 0.03);
}
